@import url("https://fonts.googleapis.com/css?family=Public+Sans:300,400&display=swap");

body {
  font-family: "Public Sans", sans-serif;
  font-size: $text-lg;
}

.container{
  max-width: $max-width-container;
  margin: auto;

  &--pall{
    padding: 15px;
  }
}

img{
  width: 100%;
  vertical-align: middle;
}


.m-hide{
  @include breakpoint-down(lg){
    display: none;
  }
}

.d-hide{
  @include breakpoint-up(lg){
    display: none;
  }
}

.button {
  padding: 14px 35px;
  background: linear-gradient(to right, #31d35c, #2bb7da);
  border-radius: 50px;
  color: #fff;
  text-decoration: none;
 
  &:hover {
    opacity: 0.8;
  }
}

.text-xs {
  font-size: 12px;
  line-height: 16px;
}
.text-sm {
  font-size: 14px;
  line-height: 20px;
}
.text-base {
  font-size: 16px;
  line-height: 24px;
}

.text-lg {
  font-size: 18px;
  line-height: 28px;

  @include breakpoint-down(md) {
    font-size: 14px;
    line-height: 20px;
  }
}
.text-xl {
  font-size: 20px;
  line-height: 28px;
}
.text-2xl {
  font-size: 24px;
  line-height: 32px;

  @include breakpoint-down(md) {
    font-size: 20px;
    line-height: 28px;
  }
}
.text-3xl {
  font-size: 30px;
  line-height: 36px;
}
.text-4xl {
  font-size: 36px;
  line-height: 40px;

  @include breakpoint-down(md) {
    font-size: 30px;
    line-height: 36px;
  }
}
.text-5xl {
  font-size: 48px;
  line-height: 1;
  
  @include breakpoint-down(md) {
    font-size: 36px;
    line-height: 40px;
  }
}
.text-6xl {
  font-size: 60px;
  line-height: 1;
}
.text-7xl {
  font-size: 72px;
  line-height: 1;
}
.text-8xl {
  font-size: 96px;
  line-height: 1;
}
.text-9xl {
  font-size: 128px;
  line-height: 1;
}


h1,h2{
  color: $darkBlue;
  margin-bottom: 36px;
}

p{
  color: $grayishBlue;
}