/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Public+Sans:300,400&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Public Sans", sans-serif;
  font-size: 18px;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.container--pall {
  padding: 15px;
}

img {
  width: 100%;
  vertical-align: middle;
}

@media (max-width: 1023px) {
  .m-hide {
    display: none;
  }
}

@media (min-width: 1024px) {
  .d-hide {
    display: none;
  }
}

.button {
  padding: 14px 35px;
  background: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background: linear-gradient(to right, #31d35c, #2bb7da);
  border-radius: 50px;
  color: #fff;
  text-decoration: none;
}

.button:hover {
  opacity: 0.8;
}

.text-xs {
  font-size: 12px;
  line-height: 16px;
}

.text-sm {
  font-size: 14px;
  line-height: 20px;
}

.text-base {
  font-size: 16px;
  line-height: 24px;
}

.text-lg {
  font-size: 18px;
  line-height: 28px;
}

@media (max-width: 767px) {
  .text-lg {
    font-size: 14px;
    line-height: 20px;
  }
}

.text-xl {
  font-size: 20px;
  line-height: 28px;
}

.text-2xl {
  font-size: 24px;
  line-height: 32px;
}

@media (max-width: 767px) {
  .text-2xl {
    font-size: 20px;
    line-height: 28px;
  }
}

.text-3xl {
  font-size: 30px;
  line-height: 36px;
}

.text-4xl {
  font-size: 36px;
  line-height: 40px;
}

@media (max-width: 767px) {
  .text-4xl {
    font-size: 30px;
    line-height: 36px;
  }
}

.text-5xl {
  font-size: 48px;
  line-height: 1;
}

@media (max-width: 767px) {
  .text-5xl {
    font-size: 36px;
    line-height: 40px;
  }
}

.text-6xl {
  font-size: 60px;
  line-height: 1;
}

.text-7xl {
  font-size: 72px;
  line-height: 1;
}

.text-8xl {
  font-size: 96px;
  line-height: 1;
}

.text-9xl {
  font-size: 128px;
  line-height: 1;
}

h1, h2 {
  color: #2d314d;
  margin-bottom: 36px;
}

p {
  color: #9698a6;
}

.header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 17px 24px;
  background-color: #fff;
}

.header .menu .menu__logo {
  width: 150px;
}

.header .menu .menu__link a {
  text-decoration: none;
  font-size: 14px;
  color: #9698a6;
  margin-right: 32px;
  position: relative;
}

.header .menu .menu__link a:after {
  content: "";
  display: none;
  position: absolute;
  height: 5px;
  left: 0;
  right: 0;
  bottom: -30px;
  background: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background: linear-gradient(to right, #31d35c, #2bb7da);
}

.header .menu .menu__link a:hover {
  color: #000;
}

.header .menu .menu__link a:hover::after {
  display: block;
}

.header .menu .menu__buger {
  cursor: pointer;
}

.header .menu .menu__buger span {
  display: block;
  width: 26px;
  height: 2px;
  background-color: #2d314d;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-transform-origin: 3px 1px;
          transform-origin: 3px 1px;
  margin-bottom: 5px;
}

.header.open {
  opacity: 1;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2d314d), to(transparent));
  background-image: linear-gradient(#2d314d, transparent);
  z-index: 2;
}

.header.open .menu .menu__link {
  display: block;
  position: absolute;
  top: 10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 75%;
  background: #fff;
  padding: 1.625rem;
  border-radius: 5px;
}

.header.open .menu .menu__link a {
  display: block;
  padding: 10px 0px;
  text-align: center;
  color: #2d314d;
  width: 100%;
}

.header.open .menu .menu__link a:after {
  display: none;
}

.header.open .menu .menu__buger span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header.open .menu .menu__buger span:nth-child(2) {
  opacity: 0;
}

.header.open .menu .menu__buger span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.hero {
  background-color: #fafafa;
  overflow: hidden;
}

.hero .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1023px) {
  .hero .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.hero .container .hero__text {
  width: 40%;
  position: relative;
  top: -50px;
  padding: 0px 24px;
}

.hero .container .hero__text p {
  margin-bottom: 50px;
}

@media (max-width: 1023px) {
  .hero .container .hero__text {
    width: 90%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    text-align: center;
  }
}

.hero .container .hero__image {
  background-image: url(../images/bg-intro-desktop.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 60%;
  position: relative;
  right: -20%;
  top: -100px;
}

@media (max-width: 1023px) {
  .hero .container .hero__image {
    width: 80%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    right: 0%;
  }
}

@media (max-width: 639px) {
  .hero .container .hero__image {
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    right: 0%;
  }
}

.feature {
  padding: 100px 24px;
  background-color: #f3f4f6;
}

.feature .feature__heading {
  margin-bottom: 48px;
}

.feature .feature__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.feature .feature__list .fearure__item {
  width: 21%;
  margin: 2%;
}

.feature .feature__list .fearure__item .feature__icon {
  width: 72px;
  height: 72px;
  margin-bottom: 44px;
}

@media (max-width: 639px) {
  .feature .feature__list .fearure__item .feature__icon {
    margin: auto;
    margin-bottom: 30px;
  }
}

.feature .feature__list .fearure__item .feature__title {
  color: #2d314d;
  margin-bottom: 24px;
}

@media (max-width: 1023px) {
  .feature .feature__list .fearure__item {
    width: 46%;
    margin-bottom: 30px;
  }
}

@media (max-width: 639px) {
  .feature .feature__list .fearure__item {
    text-align: center;
    margin-bottom: 30px;
    width: 100%;
  }
}

@media (max-width: 639px) {
  .feature .feature__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.article {
  padding: 100px 24px;
}

.article .article__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.article .article__list .article__item {
  width: 22%;
  border-radius: 0.3125rem;
  overflow: hidden;
  background-color: white;
  text-decoration: none;
  margin-right: 3%;
  -webkit-box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
}

.article .article__list .article__item .article__image {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.article .article__list .article__item .article__text {
  padding: 15px;
}

.article .article__list .article__item .article__text .article__author {
  color: #9698a6;
  margin-bottom: 15px;
}

.article .article__list .article__item .article__text .article__title {
  margin-bottom: 8px;
  color: #2d314d;
}

@media (max-width: 1023px) {
  .article .article__list .article__item {
    width: 47%;
    margin-bottom: 30px;
  }
}

@media (max-width: 639px) {
  .article .article__list .article__item {
    margin-bottom: 30px;
    width: 100%;
  }
}

@media (max-width: 639px) {
  .article .article__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

footer {
  background-color: #2d314d;
  padding: 50px 24px;
}

footer .footer__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer__wrap .footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30%;
}

footer .footer__wrap .footer__info .footer__logo {
  width: 150px;
  margin-bottom: 50px;
}

footer .footer__wrap .footer__info .footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer__wrap .footer__info .footer__social .icon {
  margin-right: 20px;
}

@media (max-width: 1023px) {
  footer .footer__wrap .footer__info {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}

footer .footer__wrap .footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}

footer .footer__wrap .footer__menu .footer__link {
  margin-right: 100px;
}

footer .footer__wrap .footer__menu .footer__link a {
  display: block;
  text-decoration: none;
  color: #fafafa;
  margin-bottom: 15px;
}

@media (max-width: 1023px) {
  footer .footer__wrap .footer__menu .footer__link {
    margin: auto;
  }
}

@media (max-width: 1023px) {
  footer .footer__wrap .footer__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    margin: 40px 0px;
  }
}

footer .footer__wrap .footer__btn {
  width: 20%;
  text-align: right;
}

footer .footer__wrap .footer__btn .copyright {
  margin-top: 50px;
  color: #9698a6;
}

@media (max-width: 1023px) {
  footer .footer__wrap .footer__btn {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 1023px) {
  footer .footer__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=style.css.map */